/* ===============================
   Header's style   
   =============================== */

.site-header {
    background-color: $brand-info;
    padding-top: 25px;
    .logo {
        float: left;
        @include transition;
        &:hover {
            opacity: 0.8;
        }
        @include breakpoint(xs) {
            max-width: 120px;
        }
    }
    &__top-bar {
        @include clearfix;
    }
    &__menu {
        float: right;
        @include font-size(16, 21);
        li {
            float: left;
            margin-left: 20px;
            @include breakpoint(xs) {
                margin-left: 14px;
            }
        }
    }
    &__cover {
        padding: 20px 0;
        position: relative;
        @include clearfix;
        @include breakpoint(xs) {
            padding-bottom: 0;
        }
        .cover-text {
            font-size: 30px;
            text-align: center;
            position: absolute;
            top: 50%;
            right: 0;
            left: 0px;
            color: white;
            transform: translate(0%, -50%);
            @include breakpoint(xs) {
                font-size: 22px;
                right: 20px;
                left: 20px;
            }
        }
    }
    a {
        color: white;
        &:hover {
            color: $brand-primary;
        }
    }
}
